.card {
	padding: 8px;
	width: 308px;
	height: 200px;
	border: #004d40 solid 3px;
	margin: auto;
}

.title {
	text-align: center;
	font-size: 30px;
	color: #00695c;

	text-decoration: none;
}

.content {
	text-align: center;

	text-decoration: none;
}
