@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

.underline {
	color: rgb(0, 77, 64);
	border-style: double;
	border-width: 1px;
	margin-top: 8px;
}

.container {
	margin-bottom: 2rem;
	height: 99px;
}

.contentContainer {
	height: 80px;
	display: flex;
}

.headername {
	display: block;

	font-family: 'Tiny5', serif;
	font-size: 40px;

	color: #004d40;
	margin-left: 8px;
}

.headerText {
	height: 40px;
}
